{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m12">
            <h3 class="center-align light-blue-text text-darken-4">
                Welcome, {{ session["users_name"] }} to your 2021 Christmas puzzle
              </h3>
            <div class="card-panel light-green lighten-5">
                <p>
                    The usual instructions apply. In short, solve the clues to get your part of the lock combination. Once each of you have got your parts you can open the lock and get your prize. 
                </p>
                <p>
                    As requested, this year the difficulty rating has been ramped up! It has also gone electronic. Lets see how this goes!
                </p>
                <p>
                    Good luck.
                </p>
                <a href="{{ url_for('get_tasks') }}" class="btn-large green darken-1">Begin</a>
            </div>
        </div>
    </div>

{% endblock %}